/* Bootstrap icons */
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css');

/* --- Spacing --- */

/* -- Margin -- */
/* - Top - */
.mt-0 {
  margin-top: 0;
}
.mt-03 {
  margin-top: calc(var(--pico-spacing) * 0.3);
}
.mt-05 {
  margin-top: calc(var(--pico-spacing) * 0.5);
}
.mt-1 {
  margin-top: calc(var(--pico-spacing) * 1);
}
.mt-2 {
  margin-top: calc(var(--pico-spacing) * 2);
}
/* - Botom - */
.mt-0 {
  margin-bottom: 0 !important;
}

/* -- Padding -- */
/* - Top - */
.pt-0 {
  padding-top: 0;
}
.pt-03 {
  padding-top: calc(var(--pico-spacing) * 0.3);
}
.pt-05 {
  padding-top: calc(var(--pico-spacing) * 0.5);
}
.pt-1 {
  padding-top: calc(var(--pico-spacing) * 1);
}
.pt-2 {
  padding-top: calc(var(--pico-spacing) * 2);
}
/* - Bottom - */
.pb-03 {
  padding-bottom: calc(var(--pico-spacing) * 0.3);
}
.pb-05 {
  padding-bottom: calc(var(--pico-spacing) * 0.5);
}
.pb-1 {
  padding-bottom: calc(var(--pico-spacing) * 1);
}
.pb-2 {
  padding-bottom: calc(var(--pico-spacing) * 2);
}

/* --- styles ---- */
.chapter {
  color: #bb972c;
}
a.chapter {
  text-decoration: none;
}
.chapter:hover {
  text-decoration: underline;
  color: #bb972c;
}
.text-muted {
  color: #7b8495;
}
h1.mb-0 {
  margin-bottom: 0;
}

/* navbar content */

header > aside#table-of-contents details ul li a[aria-current] {
  border-color: transparent;
  color: #7b8495;
  font-weight: 400;
  text-decoration-color: #7b849580;
}
header > aside#table-of-contents details ul li a {
  border-color: transparent;
  color: #7b8495;
  font-weight: 400;
  text-decoration-color: #7b849580;
  font-size: 0.8rem;
}
header > aside#table-of-contents details ul li a:not(:hover) {
  text-decoration: underline;
}

header > aside nav details ul li a {
  margin: 0;
  margin-left: calc(0.625rem * -1);
  padding: 0;
  padding-left: calc(0.5rem * 1.5);
  border-left: 0.625rem solid transparent;
  border-radius: 0;
}

header > aside nav details ul li {
  margin: 0;
  padding: calc(1rem * 0.25) 0;
}
header > aside nav details ul {
  border-left: var(--pico-border-width) solid var(--pico-muted-border-color);
}

details summary {
  line-height: 1rem;
  list-style-type: none;
  cursor: pointer;
  transition: color var(--pico-transition);
  font-size: 1rem;
  font-weight: 600;
  color: #c2c7d0 !important;
}

/* footer */
[data-theme='dark'] footer {
  background: linear-gradient(0deg, #0f1d2a, transparent);
}
