/* --- Spacing --- */

/* -- Margin -- */
/* - Top - */
.mt-03 {
  margin-top: calc(var(--pico-spacing) * 0.3);
}
.mt-05 {
  margin-top: calc(var(--pico-spacing) * 0.5);
}
.mt-1 {
  margin-top: calc(var(--pico-spacing) * 1);
}
.mt-2 {
  margin-top: calc(var(--pico-spacing) * 2);
}
/* - Botom - */

/* -- Padding -- */
/* - Top - */
.pt-03 {
  padding-top: calc(var(--pico-spacing) * 0.3);
}
.pt-05 {
  padding-top: calc(var(--pico-spacing) * 0.5);
}
.pt-1 {
  padding-top: calc(var(--pico-spacing) * 1);
}
.pt-2 {
  padding-top: calc(var(--pico-spacing) * 2);
}
/* - Bottom - */
.pb-03 {
  padding-bottom: calc(var(--pico-spacing) * 0.3);
}
.pb-05 {
  padding-bottom: calc(var(--pico-spacing) * 0.5);
}
.pb-1 {
  padding-bottom: calc(var(--pico-spacing) * 1);
}
.pb-2 {
  padding-bottom: calc(var(--pico-spacing) * 2);
}

/* --- styles ---- */
.chapter {
  color: #bb972c;
}
.chapter:hover {
  text-decoration: underline;
  color: #bb972c;
}
